#container{
    
    border: 1px solid black;
}
#screen {
    width: 150px;
    height: 70px;
    border: 1px solid black;
}
.rectangle{
    width: 74px;
    height: 35px;
    
}
.square {
    width: 35px;
    height: 35px;

}